input {
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;

    padding-left: 50px;
    padding-right: 50px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: 100;
}