<app-navbar></app-navbar>

<div class="row container-fluid">
    <div class="col-sm-6">
        <div class="card">
            <img src="../../assets/alberta-amazing-attraction-banff-417074.jpg" class="card-img-top" alt="sunrise over lake">
            <div class="card-body">
                <p class="card-text">Here at Weather List, we pay close attention to detail to ensure that you get the most accurate weather predictions we can offer.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card" >
            <img src="../../assets/landscape-nature-sky-person-33688.jpg" class="card-img-top" alt="sun through clouds">
            <div class="card-body">
                <p class="card-text">Our team has spent years researching the patterns of storms and natural disasters so that you and your loved ones can stay safe.</p>
            </div>
        </div>
    </div>

    <div class="row container-fluid mt-5">
        <div class="col-sm-6">
            <div class="card" >
                <img src="../../assets/green-pine-trees-near-mountains-under-blue-sky-1374295.jpg" class="card-img-top" alt="splashing in puddle">
                <div class="card-body">
                    <p class="card-text">You can get your daily forcast here on our website, by tuning in to your favorite radio station, or by email subscription.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" >
                <img src="../../assets/time-lapse-photography-of-waterfalls-during-sunset-210186.jpg" class="card-img-top" alt="snowy waterfall">
                <div class="card-body">
                    <p class="card-text">We are supported by user donations. Without your support, this organization could not stay in our community.</p>
                </div>
            </div>
        </div>
    </div>